[class^="socicon-"], [class*=" socicon-"] {
    font-family: 'Socicon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* container */

#sss4givewp {
    width: 100%;
    text-align: center;
}

/* buttons */

#sss4givewp a {
    width: 3rem;
    height: 3rem;
    line-height: 0;
    display: inline-block;
    margin: 8px;
    border-radius: 50%;
    font-size: 1.5rem;
    color: #fff;
    opacity: 0.75;
    transition: opacity 0.15s linear;
    text-decoration: none;
}

#sss4givewp a:hover {
    opacity: 1;
}

/* icons */

#sss4givewp a:before {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/* colors */

.socicon-facebook {
    background: #3e5b98;
}

.socicon-twitter {
    background: #4da7de;
}

.socicon-linkedin {
    background: #3371b7;
}

.socicon-pinterest {
    background: #c92619;
}